<div class="row justify-content-center">
    <div class="card col-6 mt-3 mx-4" style="width: 18rem">
        <img routerLink="/read-portofolio" style="cursor: pointer" src="https://4.bp.blogspot.com/-V8RD_wzCRQs/V5Rlbo80txI/AAAAAAAACGo/rliY7NowA74d1rhKR3QWQ0aldBscP_LJQCLcB/s1600/Gambar-harimau-9.JPG" class="align-self-center mt-4 curso" alt="..." />
        <div class="card-body">
            <h5 class="card-title mt-3">Harimau</h5>
            <a routerLinkActive="active" *ngIf="!IsLoggingIn" routerLink="/edit" class="btn btn-dark mt-3">edit</a
      >
      <a
        routerLinkActive="active"
        *ngIf="IsLoggingIn"
        style="display: none; overflow: hidden"
        routerLink=""
        class="btn btn-dark mt-3"
        >edit</a
      >
    </div>
  </div>
</div>